<div class="row">
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to kawasaki_path do %>
        <%= image_tag 'frontale.jpg', class: "teamImg" %>
        <p>川崎フロンターレ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to goosaka_path do %>
        <%= image_tag 'goosaka.jpg', class: "teamImg" %>
        <p>ガンバ大阪</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to seresso_path do %>
        <%= image_tag 'seresso.jpg', class: "teamImg" %>
        <p>セレッソ大阪</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to nagoya_path do %>
        <%= image_tag 'nagoya.jpg', class: "teamImg" %>
        <p>名古屋グランパス</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to kasiwa_path do %>
        <%= image_tag 'kasiwa.png', class: "teamImg" %>
        <p>柏レイソル</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to fctokyo_path do %>
        <%= image_tag 'fctokyo.jpg', class: "teamImg" %>
        <p>FC東京</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to urawa_path do %>
        <%= image_tag 'urawa.jpg', class: "teamImg" %>
        <p>浦和レッズ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to hirosima_path do %>
        <%= image_tag 'hirosima.jpg', class: "teamImg" %>
        <p>サンフレッチェ広島</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to sapporo_path do %>
        <%= image_tag 'sapporo.jpg', class: "teamImg" %>
        <p>コンサドーレ札幌</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to koube_path do %>
        <%= image_tag 'koube.png', class: "teamImg" %>
        <p>ヴィッセル神戸</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to yokohamafm_path do %>
        <%= image_tag 'yokohamafm.jpg', class: "teamImg" %>
        <p>横浜FM</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to kasima_path do %>
        <%= image_tag 'kasima.jpg', class: "teamImg" %>
        <p>鹿島アントラーズ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to senndai_path do %>
        <%= image_tag 'senndai.jpg', class: "teamImg" %>
        <p>ベガルタ仙台</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to simizu_path do %>
        <%= image_tag 'simizu.png', class: "teamImg" %>
        <p>清水エスパルス</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to saganntosu_path do %>
        <%= image_tag 'saganntosu.jpg', class: "teamImg" %>
        <p>サガン鳥栖</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to ooita_path do %>
        <%= image_tag 'ooita.jpg', class: "teamImg" %>
        <p>大分トリニータ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to shounann_path do %>
        <%= image_tag 'shounann.png', class: "teamImg" %>
        <p>湘南ベルマーレ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to yokohamafc_path do %>
        <%= image_tag 'yokohamafc.jpg', class: "teamImg" %>
        <p>横浜FC</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class="cards">
      <%= link_to all_path do %>
        <%= image_tag 'all.jpg', class: "teamImg" %>
        <p>ALL</p>
      <% end %>
    </div>
  </div>
</div>