<div class="row">
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'frontale.jpg', class: "teamImg" %>
      <p>川崎フロンターレ</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>G大阪</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>セレッソ</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>名古屋</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>レイソル</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>F東京</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>浦和</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>広島</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>札幌</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>神戸</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>横浜FM</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>鹿島</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>仙台</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>エスパルス</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>サガン</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>大分</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>湘南</p>
    <% end %>
  </div>
</div>
<div class="col-lg-3 col-md-4 col-xs-12">
  <div class="cards">
    <%= link_to kawasaki_path do %>
      <%= image_tag 'soccer.jpg', class: "teamImg" %>
      <p>横浜FC</p>
    <% end %>
  </div>
</div>