<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to kawasaki_path do %>
        <%= image_tag 'kawasaki.jpg', class: "teamImg" %>
        <p class= "white">川崎フロンターレ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to goosaka_path do %>
        <%= image_tag 'goosaka.jpg', class: "teamImg" %>
        <p class= "white">ガンバ大阪</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to seresso_path do %>
        <%= image_tag 'seresso.jpg', class: "teamImg" %>
        <p class= "white">セレッソ大阪</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to nagoya_path do %>
        <%= image_tag 'nagoya.jpg', class: "teamImg" %>
        <p class= "white">名古屋グランパス</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to kasiwa_path do %>
        <%= image_tag 'kasiwa.jpg', class: "teamImg" %>
        <p class= "white">柏レイソル</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to fctokyo_path do %>
        <%= image_tag 'fctokyo.jpg', class: "teamImg" %>
        <p class= "white">FC東京</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to urawa_path do %>
        <%= image_tag 'urawa.jpg', class: "teamImg" %>
        <p class= "white">浦和レッズ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to hirosima_path do %>
        <%= image_tag 'hirosima.jpg', class: "teamImg" %>
        <p class= "white">サンフレッチェ広島</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to sapporo_path do %>
        <%= image_tag 'sapporo.jpg', class: "teamImg" %>
        <p class= "white">コンサドーレ札幌</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to koube_path do %>
        <%= image_tag 'koube.jpg', class: "teamImg" %>
        <p class= "white">ヴィッセル神戸</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to yokohamafm_path do %>
        <%= image_tag 'yokohamafm.jpg', class: "teamImg" %>
        <p class= "white">横浜FM</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to kasima_path do %>
        <%= image_tag 'kasima.jpg', class: "teamImg" %>
        <p class= "white">鹿島アントラーズ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to senndai_path do %>
        <%= image_tag 'senndai.jpg', class: "teamImg" %>
        <p class= "white">ベガルタ仙台</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to simizu_path do %>
        <%= image_tag 'simizu.jpg', class: "teamImg" %>
        <p class= "white">清水エスパルス</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to saganntosu_path do %>
        <%= image_tag 'saganntosu.jpg', class: "teamImg" %>
        <p class= "white">サガン鳥栖</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to ooita_path do %>
        <%= image_tag 'ooita.jpg', class: "teamImg" %>
        <p class= "white">大分トリニータ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to shounann_path do %>
        <%= image_tag 'shounann.jpg', class: "teamImg" %>
        <p class= "white">湘南ベルマーレ</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to yokohamafc_path do %>
        <%= image_tag 'yokohamafc.jpg', class: "teamImg" %>
        <p class= "white">横浜FC</p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="cards">
      <%= link_to all_path do %>
        <%= image_tag 'all.jpg', class: "teamImg" %>
        <p class= "white">ALL</p>
      <% end %>
    </div>
  </div>
</div>