<% comments.each_with_index do |comment, i| %>
  <% unless comment.user.blank? %>
    <div>
      <% unless comment.user.image.blank? %>
        <%= image_tag comment.user.image.url, class: "icon_image" %>
      <% else %>
        <%= image_tag ("nouser.jpeg"), class: "icon_image" %>
      <% end %>
      <%= i+1 %>.  <%= comment.user.username %>
      <p class="comment_content"><%= comment.content %></p>
      <p class="time"><%= comment[:created_at].strftime("%Y-%m-%d%H:%M") %></p><hr>
    </div>
  <% end %>
<% end %>