<div class="row text-center">
  <% posts.each do |post| %>
    <% if post.teamname == action_name %>
      <div class="col-lg-3 col-md-4 col-xs-12">
        <div class="cards">
          <%= link_to post do %>
            <% if post.image? %>
              <%= image_tag post.image.url, class: "teamImg" %>
            <% else %>
                <%= image_tag ("#{action_name}.jpg"), class: "teamImg" %>
            <% end %>
            <p class="content"><%= post.content %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="pagenate"><%= will_paginate posts %></div>