<div class="blue">
  <h2 class="page_title">コメント一覧</h2>
  <div class="container">
    <div class="offset-1 col-10">
      <div class="comment_box">
        <div class="comment">
          <%= @post.content %>
          <%#= image_tag @post.image.url, class: "teamImg" if @post.image?%>
          <% @comments.each do |comment| %>
            <div>
              <%= comment.content %>
              <hr>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <%= form_for [@post, @comment] do |f| %>
              <%= f.text_field :content %>
              <%= f.submit 'コメントする' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="text-right">
      <% if user_signed_in? && @post.user.id == current_user.id %>
        <p><%= link_to "掲示板を削除する", @post, data: { confirm: "Are you sure?" }, method: :delete %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>